<section class="section">
  <div class="image-banner"></div>
</section>

<section id="hours" class="restaurant-hours section">
  <h2 class="restaurant-hours__title">Restaurant Hours</h2>

  <div class="section">
    <h3 class="restaurant-hours__days">Monday - Friday</h3>
    <h4 class="restaurant-hours__service">Lunch</h4>
    <h4 class="restaurant-hours__hours">11:00 a.m. - 2:00 p.m.</h4>
    <h3 class="restaurant-hours__service">Dinner</h3>
    <h4 class="restaurant-hours__hours">5:00 p.m. - 9:00 p.m.</h4>
  </div>

  <div class="section">
    <h3 class="restaurant-hours__days">Saturday - Sunday</h3>
    <h4 class="restaurant-hours__service">Dinner only</h4>
    <h4 class="restaurant-hours__hours">5:00 p.m. - 9:00 p.m.</h4>
  </div>
</section>
