
/* Media Queries */
@custom-media --phone (max-width: 544px);
@custom-media --tablet (max-width: 768px);
@custom-media --desktop (max-width: 992px);
@custom-media --large-desktop (max-width: 1200px);

/* CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Default Styles */
:root {
  font-size: 100%;
}

body {
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
  color: #333;
  letter-spacing: 1px;
  padding: 0 0.3em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Crimson Text', serif;
}

p {
  font-size: 0.5em;
}

.contain {
  margin: 0 auto;
  max-width: 1100px;

  @media (--phone) {
    width: 100%;
  }

  @media (--tablet) {
    width: 100%;
  }

  &__section {
    width: 800px;

    @media (--phone) {
      width: 100%;
    }

    @media (--tablet) {
      width: 100%;
    }
  }
}

.section {
  padding: 1.5rem 0;
}

.hidden {
  display: none;

  &--phone {
    @media (--phone) {
      display: none;
    }
  }

  &--tablet {
    @media (--tablet) {
      display: none;
    }
  }
}

.main-header {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  font-size: 2rem;

  @media (--phone) {
    text-align: center;
    font-size: 1.75rem;
  }

  @media (--tablet) {
    text-align: center;
  }

  &__text {
    font-size: 2em;
  }

  &__information {
    margin-bottom: 2em;
    font-size: 0.65em;

    @media (--phone) {
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      margin-bottom: 0;
    }

    @media (--tablet) {
      display: flex;
      flex-flow: column nowrap;
      margin-bottom: 1em;
    }

    & span {
      padding: 0.5em 0;

      @media (--tablet) {
        padding: 0;
      }
    }
  }

  &__address {
    font-size: 0.60em;
    margin-bottom: 0.5em;

    @media (--phone) {
      padding: 2rem 0;
    }
  }

  &__phone {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
  }
}

.navigation {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin: 0 auto;
  width: 600px;
  padding: 2em 0;
  font-family: 'Lato', sans-serif;

  @media (--phone) {
    width: 100%;
    background: #ddd;
    justify-content: space-around;
  }

  @media (--tablet) {
    width: 100%;
    background: #ddd;
    justify-content: space-around;
  }

  & :any-link {
    color: #333;
    height: 100%;
  }

  &__item {
    padding: 1em;
    background: #ddd;
    border: 1px solid #ddd;
    border-radius: 3px;

    @media (--phone) {
      padding: 1em 0.5em;
      background: none;
      border: none;
      border-radius: 0;
      text-align: center;
    }
  }
}

.image-banner {
  height: 400px;
  width: 100%;

  background: url('https://res.cloudinary.com/airship/image/upload/v1492423403/media/restaurant_neon_sign_ie17ku.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;

  @media (--phone) {
    display: none;
  }
}

.restaurant-hours {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  font-size: 1.5rem;

  &__title {
    font-size: 1.5em;
  }

  &__days {
    text-decoration: underline;
    font-size: 1.2em;
    padding: 1.5em 0;
  }

  &__service {
    font-size: 1em;
    padding: 0.5em 0;
  }

  &__hours {
    margin-bottom: 1.5em;
  }
}

.menu {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-between;
  font-size: 2rem;

  &__title {
    font-size: 1.25em;
    text-align: center;
    & h3 {
      text-decoration: underline;
      padding: 0.5em 0;
    }
  }

  &__course {
    &__item {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      padding: 1em 0;

      &__name {
        flex: 0 0 80%;
        padding: 0.5em 0;
      }

      &__desc {
        // flex: 0 1 60%;
      }
    }
  }
}

.wine {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-between;
  font-size: 2rem;

  &__title {
    font-size: 1.25em;
  }

  &__list {
    text-align: center;

    & h3 {
      text-decoration: underline;
      padding: 0.5em 0;
    }

    &__item {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      align-items: center;
      padding: 1em 0;
      text-align: left;

      &__name {
        // flex: 0 0 60%;
        padding: 0.5em 0;
      }
    }
  }
}

